.wishlist {
    margin-bottom: 70px;
}

.wishlist .table .pruchase .main-btn {
    width: 220px;
    margin: 0 auto;
}

.wishlist .table .pruchase .link {
    width: 100%;
    font-size: 13px;
}

.wishlist .emty-wishlist {
    text-align: center;
}

.wishlist .emty-wishlist h2 {
    font-size: 30px;
}

.wishlist .emty-wishlist .main-btn {
    width: 300px;
    margin: 50px auto;
}